@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Pobierz swoje dane";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="textColor white-text">@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
