@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container">
    <h1 class="text-center mb-5 text" style="font-size: 34px;">Polityka prywatności aplikacji FaceChecker</h1>
    <div class="row">
        <div class="col-md-12">
            <p class="text">
                Data wejścia w życie: <span class="fw-bold">03.11.2023</span><br>
                Ostatnia aktualizacja: <span class="fw-bold">03.11.2023</span>
            </p>
            <p class ="text">
                Dziękujemy za korzystanie z aplikacji "FaceChecker". Wierzymy, że prywatność naszych użytkowników jest kluczowa, dlatego też dokładamy wszelkich starań, aby chronić i szanować Twoje dane osobowe. Poniżej przedstawiamy naszą politykę prywatności, która opisuje, jak zbieramy, przechowujemy, używamy i udostępniamy Twoje dane osobowe. Prosimy o dokładne zapoznanie się z tym dokumentem.
            </p>
            <h2 class="text">1. Rodzaj zbieranych danych</h2>
            <p class="text">
                Aplikacja "FaceChecker" może zbierać następujące rodzaje danych osobowych:
            </p>
            <ul class="text">
                <li>1.1. Dane rejestracyjne: Podczas rejestracji w aplikacji, możemy zbierać Twoje dane, takie jak imię, nazwisko, adres e-mail i hasło.</li>
                <li>1.2. Dane związane z użytkowaniem: Możemy zbierać informacje dotyczące Twojego korzystania z aplikacji, takie jak historia logowania, aktywność na platformie, preferencje i ustawienia.</li>
                <li>1.3. Dane techniczne: Możemy automatycznie zbierać informacje techniczne, takie jak adres IP, rodzaj przeglądarki, system operacyjny oraz informacje o urządzeniu.</li>
                <li>1.4. Dane z kamery: Jeśli używasz funkcji rozpoznawania twarzy w aplikacji, możemy zbierać obrazy lub dane związane z twarzą w celu ich analizy.</li>
            </ul>
            <h2 class="text">2. Cel zbierania danych</h2>
            <p class="text">
                2.1. Dla celów identyfikacji: Dane zbierane w aplikacji "FaceChecker" mogą być używane do identyfikacji użytkowników i świadczenia usług zgodnie z ich preferencjami.
            </p>
            <p class="text">
                2.2. Dla celów analizy: Dane techniczne i dane z kamery mogą być używane w celach analizy i doskonalenia naszych usług.
            </p>
            <p class="text">
                2.3. Dla celów marketingowych: Możemy używać danych użytkowników w celach marketingowych, w tym do przesyłania informacji o nowych funkcjach i promocjach.
            </p>
            <h2 class="text">3. Udostępnianie danych osobowych</h2>
            <p class="text">
                3.1. Udostępnianie zewnętrznym dostawcom usług: Możemy udostępniać niektóre dane osobowe zewnętrznym dostawcom usług, którzy pomagają nam świadczyć usługi, takie jak dostawcy usług hostingowych czy dostawcy usług analizy danych.
            </p>
            <p class="text">
                3.2. Przesyłanie danych na żądanie prawnego organu: Możemy przekazywać dane osobowe na żądanie organów ścigania lub innych instytucji uprawnionych do ich otrzymywania, zgodnie z obowiązującymi przepisami prawa.
            </p>
            <h2 class="text">4. Bezpieczeństwo danych</h2>
            <p class="text">
                Dbamy o bezpieczeństwo Twoich danych osobowych i podejmujemy odpowiednie środki ostrożności, aby chronić je przed nieuprawnionym dostępem, utratą, ujawnieniem lub uszkodzeniem.
            </p>
            <h2 class="text">5. Twoje prawa</h2>
            <p class="text">
                Masz prawo do dostępu do swoich danych osobowych, ich poprawiania, usunięcia oraz ograniczenia ich przetwarzania. Możesz również wycofać zgodę na przetwarzanie danych w dowolnym momencie. Prosimy o kontakt w tej sprawie na adres e-mail: <span class="fw-bold">facechecker1@gmail.com</span>.
            </p>
            <h2 class="text">6. Zmiany w polityce prywatności</h2>
            <p class="text">
                Polityka prywatności aplikacji "FaceChecker" może ulec zmianie w przyszłości. Każda zmiana zostanie opublikowana na tej stronie, a Ty zostaniesz poinformowany o zmianach.
            </p>
            <p class="text">
                Dziękujemy za korzystanie z aplikacji "FaceChecker". Jeśli masz jakiekolwiek pytania lub uwagi dotyczące naszej polityki prywatności, prosimy o kontakt na adres <span class="fw-bold">facechecker1@gmail.com</span>.
            </p>
        </div>
    </div>
</div>

