@using HackHeroes.Application.HackHeroes.Commands.Students;
@using HackHeroes.Application.HackHeroes.Commands.Students.DeleteStudent;
@model IEnumerable<HackHeroes.Application.HackHeroes.StudentDto>            //Widok wyswietlania uczniow klasy

@{
    ViewData["Title"] = "ShowStudents";
    var encodedName = ViewContext.RouteData.Values["encodedName"] as string;
  
}

<h1 class="text-theme">
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 18 18">
        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
    </svg>
    Uczniowie
</h1>

<button type="button" class="btn btn-success  add-btn-theme special-btn-theme" data-bs-toggle="modal" data-bs-target="#addStudentModal">
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-add" viewBox="0 0 18 18">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
        <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
    </svg>
    Dodaj Ucznia
</button>


<p>
    <partial name="_AddStudent" model="new AddStudentCommand() {ClassEncodedName = encodedName!}" />
</p>

<p>
    <partial name="_DeleteStudent" model="new DeleteStudentCommand() " />
</p>

<div id="students" class="row" data-encoded-name="@encodedName">


</div>








<div class="btn-group">
    <a asp-action="ClassIndex" class="btn btn-primary sub-btn card-btn btn-theme card-btn-theme" style="white-space: nowrap;">Powrót</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
@*    <script src="~/js/changing_theme_button/changing.js"></script>
    <script src="~/js/changing_theme_button/changing.js"></script>*@
    <script src="~/js/HackHeroes/Students.js"></script>
}


